.searchbar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  border-radius: 15px;
  border: #000 1px solid;
  padding: 6px 10px;
  max-width: 400px;
  display: flex;
}

.searchbar input {
  width: 50%;
  margin-left: 10px;
  border: none;
  flex: 2;
}

.searchbar input:focus {
  outline: none;
}
